<!doctype html>
<html>

<head>
    <title>Cloud9</title>
    <link rel="icon" href="/logo.svg" type="image/svg+xml">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>


    <main class="p-4 bg-gray-100 dark:bg-gray-800 h-screen w-screen">
        <div class="header flex items-center justify-start"> 

            <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" fill="none">
                <defs>
                    <linearGradient id="cloudGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" style="stop-color:#00c6ff;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#0072ff;stop-opacity:1" />
                    </linearGradient>
                </defs>
                <g>
                    <path d="M50 120C30 120 20 100 40 90C30 80 40 60 60 60C65 40 85 40 90 60C110 50 130 70 120 90C140 90 150 110 130 120H50Z" fill="url(#cloudGradient)" />
                    <circle cx="120" cy="100" r="20" fill="#0072ff" stroke="#00c6ff" stroke-width="3" />
                    <line x1="110" y1="100" x2="130" y2="100" stroke="#00c6ff" stroke-width="   3" />
                </g>
            </svg>

            <h1 class="text-5xl font-bold text-gray-300">Cloud9</h1>
        </div>
          
        <div class=" flex items-center justify-between">

            <h2 class="text-2xl font-bold text-gray-300 mt-2">WELCOME, <%=user.username%>
            </h2>
            <a href="/logout" class="text-blue-600 hover:text-blue-300 "><i class="ri-logout-box-line text-2xl"></i>Logout</a>
        </div>

        <div class="pop hidden   backdrop-blur fixed top-0 left-0 w-screen h-screen flex justify-center items-center">

            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="flex items-center justify-center w-96">
                    <label for="dropzone-file"
                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click
                                    to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)
                            </p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" name="file" />
                    </label>
                </div>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload</button>
                <button type="button"
                    class="absolute top-2 right-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300"
                    onclick="closePopUp()"><i class="ri-close-large-line"></i></button>
            </form>
        </div>

        <div class="section mt-5 mb-4 bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow-md ">
            <H1 class="text-3xl font-bold text-gray-300">Files :</H1>
            <div class="files  flex flex-col gap-2 mt-3">

                <% files.forEach(file=>{ %>
                    <div
                        class="p-2 bg-white dark:bg-gray-400 rounded-lg shadow-md cursor-pointer flex item justify-between w-full">
                        <h1>
                            <%=file.originalname%>
                        </h1>
                        <a href="/download/<%=file.path %>" class="text-blue-500 hover:text-blue-700">
                            <i class="ri-download-line"></i>
                        </a>
                    </div>
                    <% }) %>
            </div>

        </div>
        <button onclick="showPopUP()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload</button>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"></script>
    <script>
         function togglePop() {
            const pop = document.querySelector('.pop');
            pop.classList.toggle('hidden');
        } 
        function showPopUP() {
            document.querySelector('.pop').style.display = 'flex';
        }
        function closePopUp() {
            document.querySelector('.pop').style.display = 'none';

        }
    </script>

</body>

</html>